body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
}

#main {
  width: 1200px;
  margin: 0 auto;
  background-color:#FFF;
}

#content {
  padding: 10px 50px;

}

nav {
  background-color: rgb(60, 125, 245);
}

#links {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

#links a {
  text-decoration: none;
  color: #FFF;
  padding: 15px;
  font-weight: bold;
}

footer {
  background-color: rgb(60, 125, 245);
  padding: 5px 50px;
  color: #FFF;
}