body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: cornflowerblue;
}

#links {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

#links a {
  text-decoration: none;
  color: #FFF;
  padding: 15px;
  font-weight: bold;
}